@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #7b61af;
  --primary-color-dark: #211741;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Bebas Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
    display: flex;
    transition: 0.3s;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
body{
    font-family:"Poppins", sans-serif;
}
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.nav_logo a{
    font-size: 1.75rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--white);
}
.nav_logo a span{
    color:rgb(134, 62, 120);
}
.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav_links{
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}
.nav_links.open {
    transform: translateY(0);
  }
.nav_links a{
    font-weight: 400;
    text-transform: capitalize;
    counter-reset: var(--white);
}
.nav_links a:hover{
    color: var(--text-dark);
}
.nav_btns{
    display: none;
}
.header_container{
    max-width: var(--max-width);
    margin: auto;
    padding-block: 8rem 2rem;
    padding-inline: 1rem;
    display: grid;
    gap: 2rem;
    overflow-x: hidden;
}
.header_image{
    position: relative;
    isolation: isolate;
}
.header_image::before{
    position: absolute;
    content: "";
    width: 100%;
    aspect-ratio: 1;
    margin-top: -30px;
    transform: translate(-50% -50%);
background-image: url("images/header_bg.png");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
border-radius: 100%;
opacity: 1;
z-index: -1;
}
.header_image img{
    margin-top: -90px;
    max-width: 520px;
    margin-inline: auto;
}
.header_image_card{
    position: absolute;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark);
    background-color: var(--white);
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #00000033;
    z-index: 1;
    transition: 0.5s;
    transform-origin:bottom ;
}
.header_image_card:hover{
    transform:scale(1.1);
}
.header_image_card span{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}
.header_image_card-1{
    top: 15%;
   left: 50px;
    transform: translate(-50% );
}
.header_image_card-2{
    top: 10%;
    right: 3rem;
    transform: translateY(-50%);
}
.header_image_card-3{
    top: 60%;
    left: 0;
    transform: translateY(-50% );
}
.header_image_card-4{
    top: 80%;
     right: 3rem;
    transform: translateY(-50% );
}
.header_content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--text-dark);
    line-height: 5.5rem;
    margin-right: 40px;
    text-align: center;
  }
  .header_content h1 span {
    color: var(--primary-color);
  }
  .header_content #p{
    color: var(--primary-color-dark);
    font-size: 2rem;
    padding: 3px;
    margin-right: 40px;
    font-weight: bolder;
  }
  .header_content p{
     margin-bottom: 2rem;
     margin-right: 40px;
     columns: var(--text-light);
     font-size: 1.5rem;
     line-height:1.75rem;
     text-align: center;
     color: var(--primary-color);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .header_content form {
    margin-bottom: 4rem;
    padding: 1.5rem;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem 0;
    border-radius: calc(1rem + 10px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }
  .header_content .input_row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
  }
  .header_content .input_group{
    flex: 1;
  }
  .header_content .input_group h5{
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
  }
.header_content .input_group > div{
    display: flex;
  align-items: center;
  gap: 10px;
}
.header_content input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: transparent;
  }
  .header_content input::placeholder {
    font-weight: 600;
    color: var(--text-dark);
  }
  .header_content .input_group span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  .header_content  button{
    width: 100%;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1.25rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  .header_content button:hover {
    background-color: var(--primary-color-dark);
  }
  .social_links{
    padding: 10px;
    margin-right: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.social_links i{
    font-size: 17px;
  
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

  .social_links i:hover{
      transform: translateY(-10px);
  }
.credits{
    color: #7b61af;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
    text-align: center;
    margin-right: 30px;
  }
  .credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .credits a span{
    color: black;
  }
  .copyright span{
    color: black;
    text-shadow: 0px 0px 1px black;
  }
  .header_content .bar {
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
    margin-right: 40px;
  }
  .header_content .bar span{
    color: var(--primary-color-dark);
  }

@media (width > 768px){
    nav{
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .nav_header{
        flex:1;
        padding: 0;
        background-color: transparent;
    }
    .nav_logo a{
        color: var(--text-dark);
    }
    .nav_logo a span{
        color: var(--primary-color);
    }
    .nav_menu_btn{
        display: none;
    }
    .nav_links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }
    .nav_links a{
             padding-block: 5px;
             color: var(--text-dark);
             border-bottom: 4px solid transparent;   
        }
        .nav_links a:hover{
            border-color: var(--primary-color);
        }
        .nav_btns{
           display: flex;
           flex: 1;
        }
        .nav_btns .btn{
            padding: 0.75rem 1.5rem;
            outline: none;
            border: none;
            font-size: 1rem;
            white-space: nowrap;
            border-radius: 10px;
            transition: 0.3s;
            cursor: pointer;
        }
        .sign_up{
            color: var(--text-dark);
            background-color: transparent;
        }
        .sign_up:hover{
            color: var(--primary-color);
        }
        .sign_in{
            color: var(--text-dark);
            background-color: var(--primary-color);
        }
        .sign_in:hover{
            background-color: var(--primary-color-dark);
            color: var(--white);
        }
        .header_container{
            padding: 2rem;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
        .header_image{
           grid-area: 1/2/2/3;
           margin-top: -220px;
        }
        .header_content :is(h1, p,) {
            text-align: left;
          }
          .header_content #p{
            color: darkblue;
           animation-name: para;
           animation-duration: 5s;
          }
          @keyframes para{
            from{
                color: rgb(74, 5, 66);
            }
            to{
                color:  rgb(202, 28, 66);
            }
          }

}
@media (width > 1024px) {
    .header__content form {
      flex-direction: row;
    }
  
    .header__content button {
      width: fit-content;
    }
  }

